<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title><%= title || 'Dy API Utils' %></title>
  <link rel="stylesheet" href="/css/output.css">
</head>
<body class="bg-gray-50 text-gray-800">
  <div class="max-w-3xl mx-auto p-6">
    <%- body %>
  </div>
</body>
</html>
